.container-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.page-content-cards {
  margin-bottom: 2rem;
  hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-top: 2rem;
  }
}

.container-villians {
  .container-joker {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    // border: rgb(255, 255, 255) 1px solid;
    // border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      padding: 20px;
    img {
      width: 80%;
      height:30rem;
      margin-left: auto;
      margin-right: auto;
      display: block; 
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        margin-top: 2rem;
    }
    h2 {
      text-align: center;
      color: white;
      font-size: 2.5rem;
    }
    hr {
      border-top: 1px solid rgb(0, 255, 0);
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      text-align: center;
      color: white;
    }
  }
  .container-other-villians {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    .villian-card {
      margin-top: 2rem;
      width: 45%;
      height: 44rem;
      border-radius: 0.75rem;
      // border: 1px solid rgb(54, 54, 255);
      padding: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      img {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 80%;
        height:65%;
      }
      h2 {
        text-align: center;
        color: white;
        font-size: 2rem;
        margin-top: 1rem;
      }
      hr {
        border-top: 1px solid white;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
      p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        color: white;
      }
    }
  }
}
