@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-color: rgba(14, 14, 14, 0.99);
}

.flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.banner-container {
  align-items: center;
  background: #e0e0e0;
  display: flex;
  flex-direction: row;
  height: 50rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
@media screen and (max-width: 800px) {
  .banner-container {
    flex-direction: column;
  }
  .banner-container .banner {
    width: 100%;
    height: 100%;
  }
}
.banner-container:active .banner {
  opacity: 0.5;
}
.banner-container:active .banner:hover {
  box-shadow: 0px 0px 10px 6px black;
  flex: 4 1;
  font-size: 20pt;
  opacity: 1;
}
.banner-container:active .banner:hover .banner-name {
  flex: 0 0 60px;
}
.banner-container .banner {
  background: none 50%;
  background-size: cover;
  box-shadow: 0 0 0 0 black;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  font-size: 10pt;
  height: 100%;
  justify-content: flex-end;
  transition: 0.3s;
}
.banner-container .banner .banner-name {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex: 1 1;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
}
.banner-container #Batman-banner {
  background-image: url(https://www.wallpaperflare.com/static/254/777/294/batman-arkham-asylum-artwork-video-games-batman-wallpaper.jpg);
}
.banner-container #Super-banner {
  background-image: url(https://cdn.wallpapersafari.com/35/39/HsNfqV.jpg);
}
.banner-container #Wonder-banner {
  background-image: url(https://a.ltrbxd.com/resized/sm/upload/xs/v0/mz/sd/batman-under-red-hood-1200-1200-675-675-crop-000000.jpg?k=bd80fd8422);
}
.banner-container #Flash-banner {
  background-image: url(https://www.themarysue.com/wp-content/uploads/2018/12/Aquaman-featured.jpg);
}

.accordian-container {
  width: 40%;
  margin-bottom: 5rem;
  margin-left: 3rem;
}
.accordian-container h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
}
.accordian-container button {
  color: rgb(59, 108, 255) !important;
}
.accordian-container .accordion {
  background-color: black;
}
.accordian-container .accordion .accordion-item {
  margin-top: 0.5rem;
  background-color: black;
}
.accordian-container .accordion .accordion-item .accordion-button {
  background-color: black;
}

.accordian-img img {
  width: 35rem;
  height: 40rem;
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-bottom: 2rem;
}

#contact {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
  margin-bottom: 3rem;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  width: 25rem;
  max-width: 400px;
  background-color: #000;
  color: #fff;
  border: 1px solid rgb(59, 59, 255);
  letter-spacing: 1px;
  margin-bottom: 1rem;
  padding: 5px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -20px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
.form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
@media screen and (max-width: 569px) {
  .direct-contact-container,
.form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
textarea {
    margin: 0 auto;
  }

  .name,
.email,
textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.img-logo {
  height: 10rem;
  width: 10rem;
}

.container-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.page-content-cards {
  margin-bottom: 2rem;
}
.page-content-cards hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.page-content-cards h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 2rem;
}

.container-villians .container-joker {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
}
.container-villians .container-joker img {
  width: 80%;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 2rem;
}
.container-villians .container-joker h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
}
.container-villians .container-joker hr {
  border-top: 1px solid rgb(0, 255, 0);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.container-villians .container-joker p {
  text-align: center;
  color: white;
}
.container-villians .container-other-villians {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.container-villians .container-other-villians .villian-card {
  margin-top: 2rem;
  width: 45%;
  height: 44rem;
  border-radius: 0.75rem;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container-villians .container-other-villians .villian-card img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: 65%;
}
.container-villians .container-other-villians .villian-card h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
}
.container-villians .container-other-villians .villian-card hr {
  border-top: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.container-villians .container-other-villians .villian-card p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  color: white;
}

.Characters h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.Characters hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.Characters .char-Bats {
  width: 100%;
  margin-top: 1rem;
}
.Characters .char-Bats img {
  width: 80%;
  height: 30rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: -1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.Characters .char-Bats p {
  text-align: center;
  color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}
.Characters h2 {
  margin-top: 0.5rem;
}
.Characters .char-side {
  border-top: rgb(0, 106, 255) solid 2px;
  border-bottom: rgb(0, 106, 255) solid 2px;
  margin-top: 2rem;
  background-color: rgb(17, 17, 17) !important;
}
.Characters .char-Robins {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 20px;
  height: 100%;
}
.Characters .char-Robins .char-dic {
  height: 30rem;
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}
.Characters .char-Robins .char-dic img {
  height: 25rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Characters .char-Robins .char-dic img:hover {
  height: 27rem;
  width: 85%;
  border: rgb(34, 126, 255) 2px solid;
}
.Characters .char-Robins .char-dic h2 {
  text-align: center;
  color: rgb(53, 127, 255);
  font-size: 1.5rem;
}
.Characters .char-Robins .char-todd {
  height: 30rem;
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}
.Characters .char-Robins .char-todd img {
  width: 80%;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Characters .char-Robins .char-todd img:hover {
  height: 27rem;
  width: 85%;
  border: rgb(255, 0, 0) 2px solid;
}
.Characters .char-Robins .char-todd h2 {
  text-align: center;
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
}
.Characters .char-Robins .char-tim {
  height: 30rem;
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}
.Characters .char-Robins .char-tim img {
  width: 80%;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Characters .char-Robins .char-tim img:hover {
  height: 27rem;
  width: 85%;
  border: rgb(251, 255, 0) 2px solid;
}
.Characters .char-Robins .char-tim h2 {
  text-align: center;
  color: rgb(251, 255, 0);
  font-size: 1.5rem;
}
.Characters .char-Robins .char-dam {
  height: 30rem;
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}
.Characters .char-Robins .char-dam img {
  width: 80%;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Characters .char-Robins .char-dam img:hover {
  height: 27rem;
  width: 85%;
  border: rgb(155, 0, 0) 2px solid;
}
.Characters .char-Robins .char-dam h2 {
  text-align: center;
  color: rgb(155, 0, 0);
  font-size: 1.5rem;
}
.Characters .char-Robins .char-barb {
  height: 30rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 18rem;
  padding: 10px;
}
.Characters .char-Robins .char-barb img {
  width: 80%;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Characters .char-Robins .char-barb img:hover {
  height: 27rem;
  width: 85%;
  border: rgb(102, 0, 255) 2px solid;
}
.Characters .char-Robins .char-barb h2 {
  text-align: center;
  color: rgb(102, 0, 255);
  font-size: 1.5rem;
}
.Characters .char-Vid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  padding: 20px;
}
.Characters .char-Vid h2 {
  text-align: center;
  color: white;
  font-size: 3rem;
}
.Characters .char-Vid hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.Characters .char-Vid iframe {
  width: 45rem;
  height: 25rem;
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

nav {
  position: relative;
  border-bottom: 1px solid rgb(62, 62, 255);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  cursor: pointer;
  transition: color 0.2s;
}

.nav-toggle:hover {
  color: rgb(54, 54, 255);
}

nav header {
  position: relative;
  background-color: rgb(0, 0, 0);
  color: #fff;
  height: 60px;
  padding: 0 2rem;
  box-shadow: 0 2px 10px #333;
}

nav header i {
  line-height: 60px !important;
}

#nav-brand {
  margin-left: 1rem;
  font-weight: bold;
  line-height: 60px;
  font-size: 2rem;
}

.nav-menu {
  position: absolute;
  top: 10px;
  right: 5%;
  background-color: rgb(0, 0, 0);
  border-radius: 30%;
  transform: translate(10%, 0%);
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}

.nav-menu-icon {
  position: absolute;
  top: 0;
  right: 5%;
  cursor: pointer;
  padding: 0 10px;
  color: white;
}

.nav-menu ul {
  padding: 5px 0;
  text-align: left;
  min-width: 150px;
}

.nav-menu li {
  padding: 0.7em 1em;
  cursor: pointer;
  font-weight: normal;
}

.nav-menu li:hover {
  background-color: rgb(67, 20, 255);
  transition: background-color 0.4s;
}

/* Note: always keep z-index of desired element higher than background-fader class*/
.background-fader {
  visibility: hidden;
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 9;
  opacity: 0;
  transition: opacity 400ms;
}

.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-bottom: 1rem;
  height: 100vh;
  width: 40%;
  transform: translate(-100%, 0%);
  transition: transform 0.4s;
  z-index: 10;
  /* this is required so that it stays above navbar wrapper*/
}

.side-navbar i {
  position: relative;
  left: 80%;
  cursor: pointer;
  top: 10px;
}

.side-navbar ul {
  margin-top: 1rem;
}

.side-navbar li {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  /*text-align: center;*/
}

.side-navbar li:hover {
  background-color: #333;
  cursor: pointer;
}

.side-navbar li a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  color: white;
}

.fade-background {
  visibility: visible;
  opacity: 1;
}

.show-side-navbar {
  transform: translate(0%, 0%);
}

.show-nav-menu {
  transform: translate(0%, 50px);
  opacity: 1;
  visibility: visible;
  border-radius: 0;
}

.largeCard {
  width: 80%;
  height: 50rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.largeCard img {
  width: 90%;
  height: 28rem;
  margin-top: 1rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.largeCard h3 {
  width: 50%;
  height: 4rem;
  color: white;
  text-align: center;
  font-size: 3rem;
  border-bottom: 1px solid rgb(64, 96, 255);
  font-weight: bold;
}
.largeCard p {
  color: white;
  text-align: center;
  width: 90%;
  font-size: 1.1rem;
}

@media screen and (max-width: 900px) {
  .largeCard h3 {
    font-size: 2rem;
  }
  .largeCard p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 900px) and (max-width: 900px) {
  .largeCard h3 {
    font-size: 1.7rem;
  }
  .largeCard p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 900px) and (max-width: 900px) and (max-width: 500px) {
  .largeCard h3 {
    font-size: 1.5rem;
  }
  .largeCard p {
    font-size: 0.6rem;
  }
}
.Footer {
  width: 100%;
  height: 15rem;
  background-color: rgb(10, 10, 10);
  border-top: 2px solid rgb(64, 96, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Footer .flex {
  margin-top: 2rem;
}
.Footer .flex ul h4 {
  color: rgb(64, 96, 255);
  text-align: center;
  font-size: 1.4rem;
}
.Footer .flex ul li {
  color: white;
  text-align: center;
}
.Footer .flex ul li:hover {
  font-size: 1.1rem;
}
.Footer .flex ul li:active {
  color: rgb(64, 96, 255);
}
.Footer .flex div {
  width: 30%;
}
.Footer .flex div h3 {
  color: rgb(64, 96, 255);
}
.Footer .flex div p {
  color: white;
}

@media screen and (max-width: 800px) {
  .Footer {
    width: 100%;
    height: 15rem;
    background-color: rgb(10, 10, 10);
    border-top: 2px solid rgb(64, 96, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .Footer .flex {
    margin-top: 2rem;
  }
  .Footer .flex ul h4 {
    color: rgb(64, 96, 255);
    text-align: center;
    font-size: 1.2rem;
  }
  .Footer .flex ul li {
    color: white;
    text-align: center;
  }
  .Footer .flex ul li:hover {
    font-size: 1rem;
  }
  .Footer .flex ul li:active {
    color: rgb(64, 96, 255);
  }
  .Footer .flex div {
    display: none !important;
    visibility: hidden !important;
  }
}
#slideshow {
  margin: 0 auto;
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  border-top: rgb(38, 92, 255) solid 2px;
  border-bottom: rgb(38, 92, 255) solid 2px;
  background-color: black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 20px;
}
#slideshow h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
}
#slideshow hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.slideshow-title {
  font-family: "Allerta Stencil";
  font-size: 62px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
}

.sub-heading-two {
  font-size: 15px;
}

.sub-heading-three {
  font-size: 13px;
}

.sub-heading-four {
  font-size: 11px;
}

.sub-heading-five {
  font-size: 9px;
}

.sub-heading-six {
  font-size: 7px;
}

.sub-heading-seven {
  font-size: 5px;
}

.sub-heading-eight {
  font-size: 3px;
}

.sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  margin-top: 2rem;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  -webkit-animation: rotar 30s infinite linear;
          animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 40vh;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.shadow {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 22rem;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 400ms;
}

@-webkit-keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

.card {
  padding: 0 1.7rem;
  width: 25%;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: "";
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  transform: translateY(0);
  background-color: #000;
  opacity: 0.9;
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
  margin-top: 4rem;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type=checkbox] {
  display: none;
}
.card input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

.example-1 .wrapper {
  background: url(https://images-na.ssl-images-amazon.com/images/I/A1Gb8vuZiCL.jpg) center/cover no-repeat;
}
.example-1 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.example-1 .header {
  color: #fff;
  padding: 1em;
}
.example-1 .header::before, .example-1 .header::after {
  content: "";
  display: table;
}
.example-1 .header::after {
  clear: both;
}
.example-1 .header .date {
  float: left;
  font-size: 12px;
}
.example-1 .menu-content {
  float: right;
}
.example-1 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-1 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-1 .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.example-1 .title a {
  color: #fff;
}
.example-1 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-1 .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-1 .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.example-2 .wrapper {
  background: url(https://images-na.ssl-images-amazon.com/images/I/71yDogdr+pL.jpg) center/cover no-repeat;
}
.example-2 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.example-2 .header {
  color: #fff;
  padding: 1em;
}
.example-2 .header::before, .example-2 .header::after {
  content: "";
  display: table;
}
.example-2 .header::after {
  clear: both;
}
.example-2 .header .date {
  float: left;
  font-size: 12px;
}
.example-2 .menu-content {
  float: right;
}
.example-2 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-2 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-2 .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.example-2 .title a {
  color: #fff;
}
.example-2 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-2 .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-2 .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.example-3 .wrapper {
  background: url(https://d1466nnw0ex81e.cloudfront.net/n_iv/600/892211.jpg) center/cover no-repeat;
}
.example-3 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.example-3 .header {
  color: #fff;
  padding: 1em;
}
.example-3 .header::before, .example-3 .header::after {
  content: "";
  display: table;
}
.example-3 .header::after {
  clear: both;
}
.example-3 .header .date {
  float: left;
  font-size: 12px;
}
.example-3 .menu-content {
  float: right;
}
.example-3 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-3 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-3 .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.example-3 .title a {
  color: #fff;
}
.example-3 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-3 .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-3 .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

.example-4 .wrapper {
  background: url(https://images-na.ssl-images-amazon.com/images/I/91CLsiEAX8L.jpg) center/cover no-repeat;
}
.example-4 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.example-4 .header {
  color: #fff;
  padding: 1em;
}
.example-4 .header::before, .example-4 .header::after {
  content: "";
  display: table;
}
.example-4 .header::after {
  clear: both;
}
.example-4 .header .date {
  float: left;
  font-size: 12px;
}
.example-4 .menu-content {
  float: right;
}
.example-4 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-4 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-4 .data {
  color: white;
  transform: translateY(calc(70px + 4em));
}
.example-4 .title a {
  color: #fff;
}
.example-4 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-4 .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-4 .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}/*# sourceMappingURL=index.css.map */